<!--
Student IDs: 
  Ho, Minh Trung (301153049)
  Yeung, Kai Hong (301229539)
WebApp name: Survey Site
Description: About Component Html - about.html
-->

<!--Main Content-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-2"></h1>
        <div class="container">
            <div class="text-center">

                <!--Title-->
                <p class="titles">eSurveyX</p> 
                <hr> 
              </div>

              <!--Description and Image-->
            <table>
                <tr>
                    <td style="padding-left: 200px; padding-right: 30px;">
                        <div class="text-center">
                            <img src="../../assets/images/LOGO1_3_2_250.png" alt="Logo">
                        </div> 
                    </td>

                     <!-- About Us Content -->
                    <td>
                        <p style="text-align: justify; padding-right: 200px;">Hello! We are eSurveyX!
                            This is a survey website that you can create, edit, and share your own survey!</p>
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</main>