<!--
Student IDs: 
  Ho, Minh Trung (301153049)
  Yeung, Kai Hong (301229539)
WebApp name: Survey Site
Description: Order Table Component - order-table.component.ts
-->

<main>

  <!--Table-->
  <table style="padding-bottom: 100px">
    <tbody>
      <tr *ngIf='getOrders().length == 0'>
        <td colspan="5">There are no orders</td>
      </tr>
      <ng-template ngFor let-o [ngForOf]='getOrders()'>
        <tr>
          <th>Name</th>
          <td> {{ o.name }}</td>
        </tr>
        <th>Questions</th>
        <th>Questions Answers</th>
        <tr *ngFor='let line of o.cart.lines'>
            <td>{{ line.book.name }}</td>
            <td>{{ line.quantity }}</td>
        </tr>
          <td>

            <!--Buttons-->
            <button class="btn btn-danger" (click)='delete(o._id)'>
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
      </ng-template>
      <button class="btn btn-primary" (click)='addOrder()'>
        <i class="fas fa-plus-circle"></i> Add New Order
      </button>
    </tbody>
  </table> 
</main>