<!--
Student IDs: 
  Ho, Minh Trung (301153049)
  Yeung, Kai Hong (301229539)
WebApp name: Survey Site
Description: Question Table Component Html - question-table.component.html
-->

<main>
    <!--Title-->
    <p class="titles">Question List</p>

    <!--Table-->
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th colspan="4">Choices</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <!--Questions-->
        <tr *ngFor='let q of getQuestions()'>
            <td>{{ q.title }}</td>
            <td>{{ q.choice1 }}</td>
            <td>{{ q.choice2 }}</td>
            <td>{{ q.choice3 }}</td>
            <td>{{ q.choice4 }}</td>
            <td>

                <!--Buttons-->
                <button class="btn btn-sm btn-primary m-1" (click)='editQuestion(q._id)'> 
                    <i class="fas fa-pencil-alt"></i> Edit
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger m-1" (click)='deleteQuestion(q._id)'>
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </td>
            <td>
                <button class="btn btn-success btn-sm float-right"
                (click)='addQuestionToQuestionnaire(q)'>
                    Add To Survey
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!--Create and Cancel Buttons-->
<button class="btn btn-primary m-1" routerLink='/admin/main/questions/add'>
    <i class="fas fa-plus-circle"></i> Create Question
</button>
<button class="btn btn-secondary" routerLink='/admin/main/surveys/add'>
    <i class="fas fa-undo"></i> Cancel
</button>
</main>
